.heading{
	text-decoration: underline solid;
	font-family: arial;
	font-size: x-large;
	text-transform: uppercase;

}
.general{
	font-style: italic;
	text-align: center;
}
.places{
	text-decoration: underline solid;
	font-family: cursive;
	font-size: medium;
	text-transform: capitalize;
}
ul li{
	font-size: small;
	font-family: verdana;
}
